.labels {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38mm;
  height: 21.2mm;
  page-break-inside: avoid;
  break-inside: avoid;
}

.no-frame {
  background-image: none;
  padding: 10px 10px;
  font-size: 40px;

}
