*,
::after,
::before {
  box-sizing: border-box;
}

@page {
  size: A4 portrait;
  padding-top: 10.7mm;
  // padding-bottom: 10.7mm;
  padding-left: 10mm;
  padding-right: 10mm;
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  
  @media print {
    width: 190mm;
  }
}

html {
  margin: 0;
}
