*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 276.6mm;
  width: 190mm;
  font-family: 'Oswald', sans-serif;

}

html {
  margin: 0;
  height: 297mm;
  width: 210mm;
  padding-top: 10.7mm;
  padding-bottom: 10.7mm;
  padding-left: 10mm;
  padding-right: 10mm;
}
